.back-to-top {
  display: none;
  border: 0;
  position: fixed;
  bottom: 20px;
  right: 2%;
  cursor: pointer;
  background: transparent;

  &:focus {
    outline: none;
  }

  i {
    color: $chevronFontColor;
    display: block;
    width: 50px;
    height: 50px;
    background-color: $chevronBgColor;
    opacity: 0.6;
    border-radius: 10px;
    @include flexBoxCenterCenter;
  }

  &.back-to-top--active {
    display: block;
  }
}
