.btn {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontButton;
  font-weight: $fontSansMedium;
  padding: 15px 25px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  transition: all .2s;
}

.btn-primary {
  background-color: $mainPrimaryColor;
  color: $mainSecondaryColor;
  &:hover {
    background-color: $btnHoverPrimary;
    color: $mainPrimaryColor;

  }
}

.btn-secondary {
  background-color: $mainSecondaryColor;
  color: $mainPrimaryColor;
  &:hover {
    background-color: $mainPrimaryColor;
    color: $mainSecondaryColor;
  }
}

.btn-subscribe {
  font-family: 'Work Sans', sans-serif;
  font-size: $fontButton;
  font-weight: $fontSansMedium;
  height: 100%;
  padding: 0 50px;
  width: 30%;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  transition: all .2s;
  background-color: $mainPrimaryColor;
  color: $mainSecondaryColor;
  &:hover {
    background-color: $btnHoverPrimary;
    color: $mainPrimaryColor;

  }
}
