// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}


// mix
.main-container {
  width: 90%;
  margin: 0 auto;

  .secondary-container {
    width: 90%;
    margin: 0 auto;
  }
}

.no-style {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}


//FLEXBOX
@mixin flexBoxSpBetween {
  display: flex;
  justify-content: space-between;
}

@mixin flexBoxSpAround {
  display: flex;
  justify-content: space-around;
}

@mixin flexBoxAlignCenter {
  display: flex;
  align-items: center;
}

@mixin flexBoxCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBoxColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexBoxColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// link
a {
  text-decoration: none;
}

// background
@mixin bgCover {
  background-repeat: no-repeat;
  background-size: cover;
}


//CAROUSEL
@mixin carousel($nSlides, $marginSlide, $chevWidth, $chevHeight, $fontSizeChevron) {
  @include flexBoxAlignCenter;
  @include flexBoxSpBetween;
  position: relative;

  &__arrow-left {
    background-color: $mainPrimaryColor;
    font-size: $fontSizeChevron;
    color: $mainSecondaryColor;
    opacity: .6;
    @include flexBoxCenterCenter;
    height: $chevHeight;
    width: $chevWidth;
    position: absolute;
    z-index: 11;
    cursor: pointer;
    left: $marginSlide;
  }

  &__slide {
    display: flex;
    width: calc(100% / $nSlides - $marginSlide);
    margin-left: $marginSlide;
    height: 100%;
    cursor: pointer;

    .slide-img {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;

      .slide-hover {
        @include flexBoxColumnCenter;
        @include slideHoverTextProducts;
        opacity: 0;
        background-color: rgba(21, 31, 46, 0.3);
        color: $mainSecondaryColor;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: opacity .6s ease-in-out;
      }

      img {
        width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &:hover .slide-hover{
      opacity: 1;
    }

  }

  &__arrow-right {
    background-color: $mainPrimaryColor;
    font-size: $fontSizeChevron;
    color: $mainSecondaryColor;
    opacity: .6;
    @include flexBoxCenterCenter;
    height: $chevHeight;
    width: $chevWidth;
    position: absolute;
    z-index: 11;
    cursor: pointer;
    right: 0;
  }
}

//carousel hover text settings
@mixin slideHoverTextProducts {
  &__title {
    font-weight: $fontSerifBold;
    color: $mainSecondaryColor;
  }

  &__type{
    font-size: $fontHeading-type;
    font-weight: $fontSansReg;
  }

  &__price {
    font-size: $fontHoverTitle;
    font-weight: $fontSansReg;
  }
}
