// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}


// mix
.main-container {
  width: 90%;
  margin: 0 auto;
}

.no-style {
  list-style: none;
}

@mixin flexBoxSpBetween {
  display: flex;
  justify-content: space-between;
}

@mixin flexBoxAlignCenter {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

@mixin titleHeading {
  font-size: $fontHeading-type;
  font-weight: $fontSansReg;
  color: $SecondaryTextColor;
}

@mixin titleSection {
  font-weight: $fontSerifBold;
  color: $mainPrimaryColor;
}

@mixin greyParagraph {
  font-size: $fontParagraph;
  font-weight: $fontSansReg;
  color: $SecondaryTextColor;
}

@mixin whiteParagraph {
  font-size: $fontParagraph;
  font-weight: $fontSansReg;
  color: $mainSecondaryColor;
}
