// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}


// mix
.no-style {
  list-style: none;
}

@mixin flexBoxSpBetween {
  display: flex;
  justify-content: space-between;
}

@mixin flexBoxAlignCenter {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}
