// background settings
@mixin bgCorporateWedding {
  @include bgCover;
  background-position: center;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
}

//columns background
@mixin corporateWeddingBg {
  width: 100%;
  height: 100%;
  @include bgCover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .6s ease-in-out;
}

// columns hover settings
@mixin corporateWeddingHover {
  &__title-header {
    @include titleHeading;
    color: $mainSecondaryColor;
  }

  &__title {
    @include titleSection;
    color: $mainSecondaryColor;
  }
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}


//corporate-weddings style
.corporate-weddings {
  text-align: center;

  &__title-heading {
    @include titleHeading;
  }

  &__section-title {
    @include titleSection;
  }

  &__inner {
    @include flexBoxSpBetween;
  }

  &__inner {
    height: 800px;
    // background-color: lime;

    .left-column-corporate {
      height: 100%;
      width: calc(100% / 2 - 20px);
      background-image: url('../img/corporate-bg.jpg');
      @include bgCorporateWedding;

      .inner-hover {
        background-image: url('../img/corporate-hover-bg.jpg');
        @include corporateWeddingBg;
        @include corporateWeddingHover;
      }

    }

    .right-column-weddings {
      height: 100%;
      width: calc(100% / 2 - 20px);
      background-image: url('../img/wedding-bg.jpg');
      @include bgCorporateWedding;
      background-size: 113%;

      .inner-hover {
        background-image: url('../img/wedding-hover-bg.jpg');
        @include corporateWeddingBg;
        @include corporateWeddingHover;
        color: $mainSecondaryColor;

      }
    }

  }

}
