.header-top {
  height: 125px;
  @include flexBoxSpBetween;
  @include flexBoxAlignCenter;
  padding: 10px 20px;

  &__logo {
    width: 200px;

    img {
      width: 100%;
    }
  }

  &__nav {

    ul {
      display: flex;

      li {
        margin-left: 20px;

        a {
          font-size: $fontHeading-type;
          font-weight: $fontSansMedium;
        }
      }
    }
  }
}
