.header-top--scroll_nav {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 15;
  background-color: $scrollNavBg;
}

.header-top {
  height: $navHeight;
  @include flexBoxSpBetween;
  @include flexBoxAlignCenter;
  padding: 10px 40px;

  &__logo {
    width: 200px;

    img {
      width: 100%;
    }
  }

  &__nav {
    height: 100%;
    @include flexBoxAlignCenter;

    ul {
      display: flex;



      li {
        @include flexBoxAlignCenter;

        a {
          font-size: $fontHeading-type;
          font-weight: $fontSansMedium;
          line-height: $navHeight;
          color: $mainPrimaryColor;
          position: relative;


          &.dynamic-link:after {
            content: "";
            display: block;
            background-color: none repeat scroll 0 0 transparent;
            bottom: 50px;
            width: 0;
            height: 2px;
            left: 50%;
            position: absolute;
            background: $mainPrimaryColor;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
          }

          &.dynamic-link:hover:after {
            width: 100%;
            left:0;
          }
        }
      }

      li:first-of-type {

        a{
          position: relative;

          &:before {
            content: "";
            display: block;
            background-color: none repeat scroll 0 0 transparent;
            bottom: 50px;
            width: 0;
            height: 2px;
            left: 50%;
            position: absolute;
            background: $mainPrimaryColor;
            width: 100%;
            left:0;
          }
        }
      }
    }


  }


}
