.products {
  .items-wrapper {
    display: flex;

    .products__text {
      width: 40%;
      padding-right: 100px;

      .products__title-heading {
        @include titleHeading;
      }

      .products__section-title {
        @include titleSection;
      }
    }

    .carousel {
      width: 60%;
      @include carousel(49%, 100%, 40px, 90px);
    }
  }

}
