.shopping-seasonal {
  color: $mainSecondaryColor;
  background-image: url('../img/call-to-action-bg.jpg');
  @include bgCover;
  @include flexBoxColumnCenter;
  height: 550px;

  .shopping-seasonal-wrapper {
    width: 70%;

    .social-title {
      font-size: $fontSocialTitle;
    }
  }
}
