.shopping-all {
  .inner-wrapper {
    display: flex;
    align-items: center;

    .shopping-all__text {
      width: 25%;
      text-align: center;

      &__section-title {
        @include titleSection;
      }

      p {
        line-height: 28px;
      }
    }
  }

  .carousel {
    width: 75%;
    height: $carouselShoppingAllHeight;
    display: flex;
    @include carousel(4, 20px, 40px, 90px, 14px);
    &__slide {
      flex-direction: column;
      .slide-text {
        text-align: center;
        color: $mainPrimaryColor;
        .slide-hover__price {
          font-size: $fontHoverPriceSecondary;
          font-weight: $fontSansReg;
        }
      }
    }
  }
}
