// margin top from 5px to 100px
@for $i from 1 through 20 {
  .mt-#{$i * 5} {
  margin-top: 5px * $i;
  }
}

// margin left from 5px to 100px
@for $i from 1 through 20 {
  .ml-#{$i * 5} {
  margin-left: 5px * $i;
  }
}

// margin right from 5px to 100px
@for $i from 1 through 20 {
  .mr-#{$i * 5} {
  margin-right: 5px * $i;
  }
}

// margin bottom from 5px to 100px
@for $i from 1 through 20 {
  .mb-#{$i * 5} {
  margin-bottom: 5px * $i;
  }
}

// padding top from 5px to 100px
@for $i from 1 through 20 {
  .pt-#{$i * 5} {
  padding-top: 5px * $i;
  }
}

// padding bottom from 5px to 100px
@for $i from 1 through 20 {
  .pb-#{$i * 5} {
  padding-bottom: 5px * $i;
  }
}
