// typo
// // titles
h1, h2, h4 {
  font-family: 'Source Serif Pro', serif;
}

h1 {
  font-size: $fontH1;
}

h2 {
  font-size: $fontSectionTitles;
}

h3, h4 {
  font-size: $fontHoverTitle;
}


h5 {
  font-size: $fontHeading-type;
}

@mixin titleHeading {
  font-size: $fontHeading-type;
  font-weight: $fontSansReg;
  color: $SecondaryTextColor;
}

@mixin titleSection {
  font-weight: $fontSerifBold;
  color: $mainPrimaryColor;
}

@mixin greyParagraph {
  font-size: $fontParagraph;
  font-weight: $fontSansReg;
  color: $SecondaryTextColor;
}

@mixin whiteParagraph {
  font-size: $fontParagraph;
  font-weight: $fontSansReg;
  color: $mainSecondaryColor;
}

@mixin titleMission {
  h2 {
    font-size: $fontTitleMission;
    font-weight: $fontSerifBold;
  }

  h3 {
    font-size: $fontNumbers;
    font-weight: $fontSansThin;
  }

  h5 {
    @include titleHeading;
    color: $mainSecondaryColor;
  }

  p {
    @include whiteParagraph;
    line-height: 30px;
  }
}

.title-heading {
  @include titleHeading;
}

.section-title {
  @include titleSection;
}
