// typo
// // titles
h1, h2, h4 {
  font-family: 'Source Serif Pro', serif;
}

h1 {
  font-size: $fontH1;
}

h2 {
  font-size: $fontSectionTitles;
}

h3, h4 {
  font-size: $fontHoverTitle;
}


h5 {
  font-size: $fontHeading-type;
}
