// COLORS
// // main
$mainPrimaryColor: #55328b;
$mainSecondaryColor: #fff;
$SecondaryTextColor: #676371;
$btnHoverPrimary: #f0edf5;
// // our-mission section
$MissionTextBg: linear-gradient(140deg, rgb(240, 237, 245) 10%, rgb(249, 241, 242) 90%);
$boxHeight: 800px;
$boxHover: linear-gradient(170deg, rgba(35, 33, 37, 0.3) 0%, rgba(35, 33, 37, 0.8) 100%);
// // location section
$leftBgCard: #f1f9fb;
$rightBgCard: #faf3e3;
// // social section
$socialTextBg: linear-gradient(240deg, rgb(240, 237, 245) 10%, rgb(249, 241, 242) 90%);

// scrolling nav
$scrollNavBg: #fff;


// // footer
$itemsCounterBg: #f0edf5;

// // back to top
$chevronBgColor: #333;
$chevronFontColor: #fff;

// FONT SIZES
$fontH1: 56px;
$fontHeading-type: 12px;
$fontSectionTitles: 36px;
$fontHoverPrice: 16px;
$fontHoverPriceSecondary: 18px;
$fontParagraph: 18px;
$fontButton: 14px;
$fontHoverTitle: 24px;

// //our-mission section
$fontTitleMission: 56px;
$fontFounderSignature: 20px;
$fontNumbers: 96px;

// // social section
$fontSocialTitle: 48px;

// FOOTER
// // footer-top
$fontNewsletterTitle: 25px;

// // footer bottom
$fontCopyright: 12px;
$fontSocialLinks: 20px;

// FONT WEIGHT
// // serif
$fontSerifBold: 700;

// // sans serif
$fontSansThin: 200;
$fontSansReg: 400;
$fontSansMedium: 500;

// nav height
$navHeight: 125px;
