// COLORS
// // main
$mainPrimaryColor: #55328b;
$mainSecondaryColor: #fff;
$SecondaryTextColor: #676371;
// // our-mission section
$MissionTextBg: linear-gradient(140deg, rgb(240, 237, 245) 10%, rgb(249, 241, 242) 90%);
// // location section
$leftBgCard: rgb(241, 249, 251);
$rightBgCard: rgb(250, 243, 227);
// // social section
$socialTextBg: linear-gradient(240deg, rgb(240, 237, 245) 10%, rgb(249, 241, 242) 90%);

// FONT SIZES
$fontHeading-type: 12px;
$fontSectionTitles: 36px;
$fontParagraph: 16px;
$fontButton: 14px;
$fontHoverTitle: 24px;
// //our-mission section
$fontNumbers: 96px;

// FONT WEIGHT
// // serif
$fontSerifBold: 700;

// // sans serif
$fontSansThin: 200;
$fontSansReg: 400;
$fontSansMedium: 500;
